<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "mx.cenet.hotelApp"
        versionCode = "1" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->
        <preference name="phonegap-version" value="3.6.3" /> //agregar linea de updgratin y cambiar a //3.6


    <name>Hotel App</name>

    <description>
     Aplicación de reserva para hoteles
    </description>

    <author href="https://www.cenet.mx" email="ignacio.h.velasco@gmail.com">
        Ignacio Huitzil Velasco
    </author>

        //agregar la siguiente que es el api de los plugins
           <gap:plugin name="org.apache.cordova.dialogs" />

</widget>
